<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rtt.server.system.mapper.SysMenuMapper">
    <resultMap type="cn.rtt.server.system.domain.entity.SysMenu" id="SysMenuResult">
        <id property="menuId" column="menu_id"/>
        <result property="title" column="title"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="query" column="query"/>
        <result property="routeName" column="route_name"/>
        <result property="isFrame" column="is_frame"/>
        <result property="isCache" column="is_cache"/>
        <result property="menuType" column="menu_type"/>
        <result property="hidden" column="hidden"/>
        <result property="status" column="status"/>
        <result property="permission" column="permission"/>
        <result property="icon" column="icon"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <sql id="selectMenuVo">
        select *
        from sys_menu
    </sql>

    <select id="getSuperAdminMenu" resultMap="SysMenuResult">
        select m.*
        from sys_menu m
        <where>
            m.status = 0
            <if test="request.menuType != null and request.menuType != ''">
                and m.menu_type != #{request.menuType}
            </if>
            <if test="request.title != null and request.title != ''">
                and m.title = #{request.title}
            </if>
        </where>
        order by m.parent_id, m.order_num
    </select>

    <select id="getUserMenu" resultMap="SysMenuResult">
        select distinct m.*
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        left join sys_role ro on rm.role_id = ro.role_id
        where
        ur.user_id = #{request.userId}
        and m.status = 0
        and ro.status = 0
        <if test="request.menuType != null and request.menuType != ''">
            and m.menu_type != #{request.menuType}
        </if>
        <if test="request.title != null and request.title != ''">
            and m.title != #{request.title}
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPermsByRoleId" resultType="java.lang.String" parameterType="java.lang.Long">
        select distinct m.permission
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
        where m.status = '0'
          and rm.role_id = #{roleId}
    </select>

    <select id="selectPermissionByUserId" resultType="java.lang.String" parameterType="java.lang.Long">
        select distinct m.permission
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role ur on rm.role_id = ur.role_id
                 left join sys_role r on r.role_id = ur.role_id
        where m.status = '0'
          and r.status = '0'
          and ur.user_id = #{userId}
    </select>

    <select id="selectMenuListByUserId" resultType="cn.rtt.server.system.domain.entity.SysMenu"
            resultMap="SysMenuResult">
        select distinct m.*
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        left join sys_role ro on ur.role_id = ro.role_id
        <where>
            <if test="params.userId != null and params.userId != ''">
                ur.user_id = #{params.userId}
            </if>
            <if test="title != null and title != ''">
                AND m.menu_name like concat('%', #{title}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND m.visible = #{visible}
            </if>
            <if test="status != null and status != ''">
                AND m.status = #{status}
            </if>
        </where>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuById" resultMap="SysMenuResult" parameterType="java.lang.Long">
        <include refid="selectMenuVo"/>
        where menu_id = #{menuId}
    </select>

    <select id="checkMenuNameUnique" parameterType="cn.rtt.server.system.domain.entity.SysMenu"
            resultMap="SysMenuResult">
        <include refid="selectMenuVo"/>
        where title=#{title} and parent_id = #{parentId} limit 1
    </select>

    <select id="selectMenuListByRoleId" resultType="java.lang.Long">

        select m.menu_id
        from sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        where rm.role_id = #{roleId}
        <if test="menuCheckStrictly">
            and m.menu_id not in (select m.parent_id from sys_menu m inner join sys_role_menu rm on m.menu_id
            = rm.menu_id and rm.role_id = #{roleId})
        </if>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuList" resultMap="SysMenuResult"
            parameterType="cn.rtt.server.system.domain.entity.SysMenu">
        <include refid="selectMenuVo"/>
        <where>
            1 = 1
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="visible != null and visible != ''">
                AND visible = #{visible}
            </if>
            <if test="parentId != null and parentId != ''">
                AND parent_Id = #{parentId}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
        order by parent_id, order_num
    </select>
</mapper>
